.amountStyle {
  color: white;
  font-weight: bolder;
}

.iconStyle {
  font-size: 24px;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0 8px;
  width: 50px;
  height: 50px;
}

.additionalInfoStyle {
  color: #59658A;
  font-size: 0.8rem;
  margin-top: 0.1rem;
}