.expanded {
    height: 90vh;
}

.collapsed {
    height: 300px;
}

.topLine {
    height: 5px;
    width: 80px;
    background-color: #2D3757;
    border-radius: 2px;
    margin: 0 auto;
    margin-bottom: 30px;
}