.cardStyle {
    padding: 0;
    background-color: #1e3c72;
    background-image: linear-gradient(to right, #A67ECC, #1F5FF7, #5EACFC, #4893EE);
    border-radius: 20px;
    color: white;
    width: 90%;
    height: 215px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 8px 32px 0 #1f26875e;
    backdrop-filter: blur(8.5px);
    border: 1px solid #ffffff2d;
  }
  
  .blackStripStyle {
    position: absolute;
    top: 0;
    background-color: #000000;
    height: 60px;
    width: 100%;
    border-radius: 5px;
    opacity: 0.5;
    margin: 20px auto;
  }
  
  .numberBoxStyle {
    background-color: #5EACFC;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 18px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 900;
    color: white;
    height: 40px;
  }
  