.balanceContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
    border-radius: 0.75rem;
    padding: 1rem;
  }
  
  .iconStyle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid #2B3553;
    border-radius: 10%;
    color: white;
    font-size: 1.5rem;
    margin-left: 8px;
    margin-right: 8px;
  }
  
  .balanceTitle {
    font-size: 1.1rem;
    font-weight: 900;
    color: #94A2D3;
    margin: 0;
  }
  
  .balanceAmount {
    font-weight: 900;
    font-size: 1.6rem;
  }
  
  .iconContainer {
    text-align: right;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  