
.mainContent {
  color: #fff;
  min-height: 100vh;
  overflow-y: auto;
  background-color: #141C33;
  background-image: linear-gradient(to right, #2B3553, #222C46, #222C48, #1D2741);
}

.titleBig {
  font-weight: bold;
  font-size: 35px;
}

.titleSmall {
  font-weight: 900;
  font-size: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 5;
  }
}

@keyframes fadeOut {
  from {
    opacity: 5;
  }
  to {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn 1s forwards;
}

.fadeOut {
  animation: fadeOut 1s forwards;
}