.gradientStyle {
    background: linear-gradient(to right, #A67ECC, #1F5FF7, #5EACFC, #4893EE);
    color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px #0000001a;
    position: relative;
    padding: 20px;
    width: 90%;
  }
  
  .mastercardIcon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 2rem;
  }
  
  .cardDetail {
    margin-bottom: 0.5rem;
    position: absolute;
    top: 10px;
    left: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .iconBox {
    position: absolute;
    top: 50px;
    left: 40px;
    width: 30px;
    height: 30px;
    background-color: #ffffff80;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
  }
  
  .wifiIcon {
    position: absolute;
    top: 50px;
    right: 20px;
    color: #000;
    font-size: 40px;
  }
  
  .cardTitle {
    font-weight: 900;
  }
  
  .cardDate {
    color: #BCDAFD;
    padding: 4px;
    font-size: 0.8rem;
    color: #FFFFFF;
    opacity: 0.8;
  }
  
  .bankName {
    font-size: 1.6rem;
    font-weight: 900;
    letter-spacing: 2px;
  }
  
  .divider {
    font-size: 1.1rem;
    margin: 8px;
    align-items: center;
    opacity: 0.8;
  }  